﻿/*[class*='col-'] {
    padding-left: 0;
    padding-right: 0;
}*/

.width-25 {
    width: 25%;
}

.width-50 {
    width: 50%;
}

.width-75 {
    width: 75%;
}

.WF {
    width: 100%;
}

/* margin start */

.m0 {
    margin: 0px !important;
}

.ml0 {
    margin-left: 0px !important;
}

.mr0 {
    margin-right: 0px !important;
}

.mt0 {
    margin-top: 0px !important;
}

.mb0 {
    margin-bottom: 0px !important;
}

.m3 {
    margin: 3px !important;
}

.ml3 {
    margin-left: 3px !important;
}

.mr3 {
    margin-right: 3px !important;
}

.mt3 {
    margin-top: 3px !important;
}

.mb3 {
    margin-bottom: 3px !important;
}

.m5 {
    margin: 5px !important;
}

.ml5 {
    margin-left: 5px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.m10 {
    margin: 10px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.m15 {
    margin: 15px !important;
}

.ml15 {
    margin-left: 15px !important;
}

.mr15 {
    margin-right: 15px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.m20 {
    margin: 20px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.m30 {
    margin: 30px !important;
}

.ml30 {
    margin-left: 30px !important;
}

.mr30 {
    margin-right: 30px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.m50 {
    margin: 50px !important;
}

.ml50 {
    margin-left: 50px !important;
}

.mr50 {
    margin-right: 50px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.mb50 {
    margin-bottom: 50px !important;
}

/* margin end */


/* float helpers start */

.FL {
    float: left !important;
}

.FR {
    float: right !important;
}

/* float helpers end */

/* padding helpers start */
.p0 {
    padding: 0px !important;
}

.pl0 {
    padding-left: 0px !important;
}

.pr0 {
    padding-right: 0px !important;
}

.pt0 {
    padding-top: 0px !important;
}

.pb0 {
    padding-bottom: 0px !important;
}

.p3 {
    padding: 3px !important;
}

.pl3 {
    padding-left: 3px !important;
}

.pr3 {
    padding-right: 3px !important;
}

.pt3 {
    padding-top: 3px !important;
}

.pb3 {
    padding-bottom: 3px !important;
}

.p5 {
    padding: 5px !important;
}

.pl5 {
    padding-left: 5px !important;
}

.pr5 {
    padding-right: 5px !important;
}

.pt5 {
    padding-top: 5px !important;
}

.pb0 {
    padding-bottom: 5px !important;
}

.p10 {
    padding: 10px !important;
}

.pl10 {
    padding-left: 10px !important;
}

.pr10 {
    padding-right: 10px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.p15 {
    padding: 15px !important;
}

.pl15 {
    padding-left: 15px !important;
}

.pr15 {
    padding-right: 15px !important;
}

.pt15 {
    padding-top: 15px !important;
}

.pb15 {
    padding-bottom: 15px !important;
}

.p20 {
    padding: 20px !important;
}

.pl20 {
    padding-left: 20px !important;
}

.pr20 {
    padding-right: 20px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.p2p {
    padding: 2% !important;
}

.pl2p {
    padding-left: 2% !important;
}

.pr2p {
    padding-right: 2% !important;
}

.pt2p {
    padding-top: 2% !important;
}

.pb2p {
    padding-bottom: 2% !important;
}

.p5p {
    padding: 5% !important;
}

.pl5p {
    padding-left: 5% !important;
}

.pr5p {
    padding-right: 5% !important;
}

.pt5p {
    padding-top: 5% !important;
}

.pb5p {
    padding-bottom: 5% !important;
}

.p10p {
    padding: 10% !important;
}

.pl10p {
    padding-left: 10% !important;
}

.pr10p {
    padding-right: 10% !important;
}

.pt10p {
    padding-top: 10% !important;
}

.pb10p {
    padding-bottom: 10% !important;
}


.border {
    /*border: solid 1px #dddddd;*/
}

.bb {
    border-bottom: solid 1px #dddddd;
}

.bt {
    border-top: solid 1px #dddddd;
}

.bl {
    border-left: solid 1px #dddddd;
}

.br {
    border-right: solid 1px #dddddd;
}

.br-primary {
    border: solid 1px #46467F;
}

.bn {
    border: none !important;
}

.border-lr-0 {
    border-left: none !important;
    border-right: none !important;
}

.brr2 {
    border-radius: 2px;
}

.brr3 {
    border-radius: 3px;
}

.brr4 {
    border-radius: 4px;
}

.brr5 {
    border-radius: 5px;
}


/* padding helpers end */




/* font schemes start */

.fc-green,
.fc-green * {
    color: #007200;
}

.fc-red {
    color: #ff0000;
}

.fc-white {
    color: #fff !important;
}

.fwb {
    font-weight: bold !important;
}

.fwn {
    font-weight: normal !important;
}

.font-size-60 {
    font-size: 60px;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}
/* font schemes end */

/* text helpers start */
.tdn {
    text-decoration: none;
}

.tdh:hover {
    text-decoration: underline;
}

.tac {
    text-align: center !important;
}

.tal {
    text-align: left !important;
}

.tar {
    text-align: right !important;
}
/* text helpers end */



/* position helpers start */
.PR {
    position: relative !important;
}

.PA {
    position: absolute;
}

.T0 {
    top: 0;
}

.L0 {
    left: 0;
}

.R0 {
    right: 0;
}

.B0 {
    bottom: 0;
}

.-T34 {
    top:-34px;
}
/* position helpers end */


/* background color helpers */
.bg-blue {
    background-color: #4486F7;
}

.bg-primary {
    background-color: #2F589A;
}

.bg {
    background-color: #f9f9f9;
}

.cp {
    cursor: pointer;
}

.DN {
    display: none !important;
}
/* background color helpers */

.ltn {
    list-style-type:none;
}
.photo-badge {
    position: absolute;
    right: 6px;
    top: 8px;
    background-color:#428BCA;
}

.loader {
    font-size:60px;
    text-align:center;
}
    .loader i {
        color:#278926;
    }
    .error{
        color: red;
        font-size: 11px;
    }