/*common styles*/
body{color:#212121;background: #EFEFEF;font-size: 13px;}
a, a:hover, a:focus {text-decoration: none; outline: medium none; }
input, textarea, select, button {outline: medium none !important;}

hr{color: #B6B6B6;}
.menubar .nav > li > a:hover, .menubar .nav li.active a, .menubar .nav li.dropdown a:hover, .menubar .nav li.dropdown.open a:focus, .menubar .nav .open > a, .menubar .nav .open > a:hover, .menubar .nav .open > a:focus {
    background-color: #FF5722;
    text-decoration: none;
    color: #FFF;
    transition: all 0.3s ease 0s;
}
.dropdown-menu{padding:0;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {background-color: #495D74;color: #FFF;
	text-decoration: none;}

.dropdown-menu > li > a {padding: 10px 15px;color:#212121;font-size: 13px;}

/*.menubar .navbar-nav > li.open > .dropdown-menu:before {border-style: solid; border-width: 0px 9px 9px; height: 0px; position: absolute; left: 7px; top: -18px; transition: all 0.25s ease 0s; width: 0px; z-index: 10; margin-top: 10px; opacity: 1; border-right-color: transparent;
border-left-color: transparent;
border-bottom-color: #FCB322 !important;
border-top-color: #FCB322 !important;}
*/

.tab-dark-navy-blue {background: #7087A3 none repeat scroll 0% 0%; border-radius: 0; border-bottom: medium none; }






/*header*/
header{box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);}
.menubar{background:white;margin-bottom: 0px;border: 0;border-radius: 0;}
.menubar .navbar-nav > li > .dropdown-menu {margin-top: -1px;}
.menubar .navbar-nav > li > a .caret{transition: all 0.3s ease 0s;}
.menubar .navbar-nav > li.open > a .caret{-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);}
.menubar.navbar-default .navbar-brand {font-size: 21px;color: #2E2E2E;margin-top: 1px;text-transform: uppercase;}


.main-content .page-header{border-bottom: 0;margin: 20px 0px;}
.surround{padding: 15px;}

/*overview*/
.border-head h4 {border-bottom: 1px solid #e1e1e1;color: #777;margin-top: 0px;margin-bottom: 20px; padding-bottom: 5px;font-weight: 300; }
.stats{}
.stats .panel{border: medium none;}
.stats .symbol, .stats .value{display: inline-block;text-align: center;}
.stats .symbol {width: 40%;padding: 25px 15px;border-radius: 4px 0px 0px 4px;}
.stats .symbol.color1{background-color: #42A6BF;}
.stats .symbol.color2{background: #FFA13D;}
.stats .symbol.color3{background: #88C771;}
.stats .symbol.color4{background: #abacab;}
.stats .symbol i {color: #FFF;font-size: 50px;}
.stats .value {width: 58%;padding-top:21px;float: right;}
.stats .value h1 {font-weight: 300;}
.stats .value h1, .stats .value p {margin: 0px;padding: 0px;color: #C6CAD6;}

.task-thumb {width: 90px; float: left; margin-bottom: 5px; } 
.task-thumb-details {display: inline-block;margin: 25px 0px 0px 10px;}
.task-thumb-details p, .task-progress p {padding-top: 5px; color: #A4AABA; } 
.task-thumb-details h1, .task-thumb-details h1 a, .task-progress h1, .task-progress h1 a {color: #39B5AA; font-size: 18px; margin: 0px; padding: 0px; font-weight: 400; }
.personal-task tbody tr td i {font-size: 20px;color: #C7CBD4;}
.progress-panel {padding-bottom: 5px; }
.task-progress {float: left;}
.task-option {float: right;}
.task-option select {height: 35px; border: 1px solid #EAEAEA; border-radius: 4px; padding: 8px; color: #A4ABBB; }
.personal-task tbody tr td {padding: 11px 15px;border-color: #EEEFF1;}
.badge.bg-success {background: #A9D86E none repeat scroll 0% 0%; }
.badge.bg-important {background: #FF6C60 none repeat scroll 0% 0%; }
.badge.bg-info {  background: #41CAC0 none repeat scroll 0% 0%;}
.badge.bg-warning {background: #FCB322 none repeat scroll 0% 0%; }
.badge.bg-primary {	background: #8075C4 none repeat scroll 0% 0%;}
.personal-task > tbody > tr > td:last-child {text-align: right;}


/*property*/
.sale-rent .badge{margin-left: 4px;}
.sale-rent .nav-tabs > li > a{margin-right: 1px;}
.sale-rent .nav-tabs > li > a:active{outline: none;}
.sale-rent .panel-heading .nav {border: medium none; font-size: 13px; margin: -10px -15px -11px -10px; }
.sale-rent .panel-heading .nav > li > a {color: #FFF; } 
.sale-rent .panel-heading .nav > li.active > a, .panel-heading .nav > li > a:hover {color: #47596F; background: rgba(255, 255, 255, 0.86) none repeat scroll 0% 0%; } 
.sale-rent .panel-heading .nav > li > a, .panel-heading .nav > li.active > a, .panel-heading .nav > li.active > a:hover, .panel-heading .nav > li.active > a:focus {border-width: 0px; border-radius: 0px; }

/*footer*/
footer{padding-top: 10px;border-top: 1px solid #e1e1e1;background: white;}