section.surround.container-fluid.dashb {
    margin-top: 40px;
}


table#datatb {
    table-layout:fixed;
}

table#datatb td { word-wrap: break-word;}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

    .pagination, .pagination-sm > li:first-child > a,
   .pagination-sm > li:first-child > span,
    .pagination-sm > li:last-child > a,
     .pagination-sm > li:last-child > span{
      border-radius: 0;
     }

.form-control,
 select.form-control,
 button.btn,
 .nav-pills > li > a,
.dropdown-menu, .panel-heading,
.subnav ul li.active a,
.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle),
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle),
.btn-group>.btn:last-child:not(:first-child) 
{
  border-radius: 3px; 
}

.input-group-addon, .alert, .modal-content, .menubar, .panel, .add-listing .btn, .add-listing .media .btn, .save-cancel .btn, .save-cancel .btn + .btn, .document .save-cancel .btn, .document .save-cancel .btn + .btn {
  border-radius: 3px;
  border: 0 none; }

/* timeselector */
.timeselector {
  padding: 2px;
  line-height: 100%;
  color: #333;
  border: solid 1px #aaa;
  border-radius: 6px;
  background: #c9c9c9;
  position: absolute;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

.timeselector-item, .timeselector-separator {
  float: left; }

.timeselector-value, .timeselector-button {
  padding: 2px 8px;
  font-weight: 700;
  text-align: center;
  cursor: pointer; }

.timeselector-value {
  display: block;
  color: #444;
  border: solid 1px #fff;
  background: #eee; }

.timeselector-separator {
  padding: 0 2px;
  margin-top: 26%; }

.timeselector-button {
  display: block;
  text-decoration: none;
  color: #3383bb;
  border: solid 1px #ccc;
  background: #eee; }
  .timeselector-button:hover {
    color: #599fcf;
    border-color: #bbb;
    background: #f8f8f8; }

.timeselector-up {
  border-width: 1px 1px 0;
  border-radius: 4px 4px 0 0; }

.timeselector-down {
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px; }

/* no more tables responsive */
@media screen and (max-width: 767px) {
  /* Force table to not be like tables anymore */
  #no-more-tables table, #no-more-tables thead, #no-more-tables tbody, #no-more-tables th, #no-more-tables td, #no-more-tables tr {
    display: block; }
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  #no-more-tables tr {
    border: 1px solid #ccc; }
  #no-more-tables td {
    border-bottom: 1px solid #eee;
    position: relative;
    white-space: normal; }
    #no-more-tables td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: bold; } }

/* date range picker  */
.daterangepicker {
  position: absolute;
  background: #fff;
  top: 100px;
  left: 20px;
  padding: 4px;
  margin-top: 1px;
  width: 278px; }
  .daterangepicker.openscenter:before {
    position: absolute;
    top: -7px;
    left: 0;
    right: 0;
    width: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: ''; }
  .daterangepicker.openscenter:after {
    position: absolute;
    top: -6px;
    left: 0;
    right: 0;
    width: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: ''; }
  .daterangepicker.opensright:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: ''; }
  .daterangepicker.opensright:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: ''; }
  .daterangepicker.dropdown-menu {
    max-width: none;
    z-index: 3000; }
  .daterangepicker.single .ranges, .daterangepicker.single .calendar {
    float: none; }
  .daterangepicker .calendar {
    display: none;
    max-width: 270px;
    margin: 4px; }
  .daterangepicker.show-calendar .calendar {
    display: block; }
  .daterangepicker .calendar.single .calendar-table {
    border: none; }
  .daterangepicker .calendar th, .daterangepicker .calendar td {
    white-space: nowrap;
    text-align: center;
    min-width: 32px; }
  .daterangepicker .calendar-table {
    border: 1px solid #ddd;
    padding: 4px;
    background: #fff; }
  .daterangepicker table {
    width: 100%;
    margin: 0; }
  .daterangepicker td, .daterangepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    white-space: nowrap;
    cursor: pointer; }
  .daterangepicker td.off {
    color: #999;
    background: #fff; }
    .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
      color: #999;
      background: #fff; }
  .daterangepicker td.disabled {
    color: #999;
    cursor: not-allowed;
    text-decoration: line-through; }
  .daterangepicker option.disabled {
    color: #999;
    cursor: not-allowed;
    text-decoration: line-through; }
  .daterangepicker td.available:hover, .daterangepicker th.available:hover {
    background: #eee; }
  .daterangepicker td.in-range {
    background: #ebf4f8;
    border-radius: 0; }
  .daterangepicker td.active {
    background-color: #357ebd;
    border-color: #3071a9;
    color: #fff; }
    .daterangepicker td.active:hover {
      background-color: #357ebd;
      border-color: #3071a9;
      color: #fff; }
  .daterangepicker td.week {
    font-size: 80%;
    color: #ccc; }
  .daterangepicker th.week {
    font-size: 80%;
    color: #ccc; }
  .daterangepicker select.monthselect, .daterangepicker select.yearselect {
    font-size: 12px;
    padding: 1px;
    height: auto;
    margin: 0;
    cursor: default; }
  .daterangepicker select.monthselect {
    margin-right: 2%;
    width: 56%; }
  .daterangepicker select.yearselect {
    width: 40%; }
  .daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
    width: 50px;
    margin-bottom: 0; }
  .daterangepicker th.month {
    width: auto; }
  .daterangepicker .input-mini {
    display: block;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    margin: 0 0 5px 0;
    padding: 0 6px 0 28px;
    width: 100%; }
    .daterangepicker .input-mini.active {
      border: 1px solid #357ebd; }
  .daterangepicker .daterangepicker_input {
    position: relative; }
    .daterangepicker .daterangepicker_input i {
      position: absolute;
      left: 8px;
      top: 8px; }
  .daterangepicker .calendar-time {
    text-align: center;
    margin: 5px auto;
    line-height: 30px;
    position: relative;
    padding-left: 28px; }
    .daterangepicker .calendar-time select.disabled {
      color: #ccc;
      cursor: not-allowed; }
  .daterangepicker .ranges {
    font-size: 11px;
    float: none;
    margin: 4px;
    text-align: left; }
    .daterangepicker .ranges ul {
      list-style: none;
      margin: 0 auto;
      padding: 0;
      width: 100%; }
    .daterangepicker .ranges li {
      font-size: 13px;
      background: #f5f5f5;
      border: 1px solid #f5f5f5;
      color: #08c;
      padding: 3px 12px;
      margin-bottom: 8px;
      cursor: pointer; }
      .daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
        background: #08c;
        border: 1px solid #08c;
        color: #fff; }

/* Calendars */
/* Text Input Above Each Calendar */
/* Time Picker */
/* Predefined Ranges */
/*  Larger Screen Styling */
@media (min-width: 564px) {
  .daterangepicker {
    width: auto; }
    .daterangepicker .ranges ul {
      width: 160px; }
    .daterangepicker.single .ranges ul {
      width: 100%; }
    .daterangepicker .calendar.left .calendar-table {
      border-right: none; }
    .daterangepicker .calendar.right .calendar-table {
      border-left: none; }
    .daterangepicker .calendar.left {
      clear: left;
      margin-right: 0; }
    .daterangepicker.single .calendar.left {
      clear: none; }
    .daterangepicker.single .ranges, .daterangepicker.single .calendar {
      float: left; }
    .daterangepicker .calendar.right {
      margin-left: 0; }
    .daterangepicker .left .daterangepicker_input, .daterangepicker .calendar.left .calendar-table {
      padding-right: 12px; }
    .daterangepicker .ranges, .daterangepicker .calendar {
      float: left; } }

@media (min-width: 730px) {
  .daterangepicker .ranges {
    width: auto;
    float: left; }
  .daterangepicker .calendar.left {
    clear: none; } }

/* Custom container */
.container-fixed {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1050px; }

a {
  color: #333333; }

a:hover {
  text-decoration: none;
  color: #333333; }

a:focus {
  text-decoration: none;
  color: #4d4d4d; }

.form-control {
  box-shadow: none; }

.form-control:focus {
  box-shadow: none; }

select.form-control {
  position:relative;
  background: #fff url("../images/select-down.png") no-repeat 98% 50%;
  font-size: 12px; }
  select.form-control:focus {
    color: #000;
    color: transparent;
    text-shadow: 0 0 0 #333333; }

select > option {
  padding: 4px;
  color: #333333; }

.input-group-addon {
  background: white; }

.form-horizontal .control-label {
  text-align: left; }

select {
  cursor: pointer; }

button.btn {
  font-size: 13px; }

.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
  border-color: #cccccc; }
  .btn-default.active:hover, .btn-default.active:active, .btn-default.active:focus, .btn-default:active:hover, .btn-default:active:active, .btn-default:active:focus, .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default:active, .open > .dropdown-toggle.btn-default:focus {
    border-color: #cccccc; }

.btn.active, .btn:active {
  box-shadow: none; }

label {
  font-weight: normal;
  font-size: 13px; }

h3 {
  margin: 0 0 5px;
  font-size: 22px;
  font-weight: bold; }

.alert {
  font-size: 12px;
  padding: 10px; }

.p-underline {
  color: #007200;
  text-decoration: underline;
  -webkit-transition: all 0.3 ease-in;
  -moz-transition: all 0.3 ease-in;
  -ms-transition: all 0.3 ease-in;
  -o-transition: all 0.3 ease-in;
  transition: all 0.3 ease-in; }
  .p-underline:hover, .p-underline:active, .p-underline:focus {
    color: #007200; }

@media only screen and (min-width: 992px) {
  .pl0 {
    padding-left: 0 !important; }
  .pr0 {
    padding-right: 0 !important; }
  .p0 {
    padding: 0; } }

/*---------------------common styles------------------------------*/
body {
  background: #efefef;
  font-size: 13px; }

a, a:hover, a:focus {
  text-decoration: none;
  outline: medium none; }

input, textarea, select, button {
  outline: medium none !important; }

ul, ol {
  list-style: none; }

.p-color {
  color: #007200; }

.s-color {
  color: #999; }

hr {
  color: #cccccc; }

textarea {
  resize: vertical; }

.mt15 {
  margin-top: 15px; }

.mb15 {
  margin-bottom: 15px; }

.ml15 {
  margin-left: 15px; }

.mb20 {
  margin-bottom: 20px; }

.no-margin {
  margin: 0; }

.clear {
  clear: both; }

/*-------------------------------bootstrap reset-----------------*/
.form-control, .form-control:focus {
  box-shadow: none; }

.form-control:focus {
  border-color: #cccccc; }

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  border-top: 0;
  padding: 10px 15px;
  vertical-align: middle; }

.table > thead > tr > th {
  border-width: 1px;
  color: #007200;
  padding: 15px; }

.dropdown-menu {
  padding: 0; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background: #266D26;
  color: #FFF;
  text-decoration: none; }

.pagination {
  text-align: right;
  margin: 10px 0; }

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background: url("../images/pagination-active.png") no-repeat;
  -webkit-background-position: center center;
  -moz-background-position: center center;
  -o-background-position: center center;
  background-position: center center;
  border-color: #ebebeb; }

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  color: #007200;
  background: transparent; }

.pagination > li > a, .pagination > li > span {
  color: #333333; }

.dropdown-menu > li > a {
  padding: 10px 15px;
  color: #333333;
  font-size: 13px; }

.table > tfoot > tr > td {
  vertical-align: top; }

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
  border-color: #ff9000; }

/*header*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1002; }

.menubar {
  background: white;
  margin-bottom: 0; }
  .menubar.navbar-default .navbar-brand {
    font-size: 21px;
    color: #333333;
    text-transform: uppercase; }
  .menubar .navbar-nav > li.open > a .caret {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  .menubar .navbar-nav > li > a {
    color: #333333; }
    .menubar .navbar-nav > li > a .caret {
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -ms-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }
  .menubar .navbar-nav > li .dropdown-menu {
    margin-top: -1px; }
  .menubar .navbar-nav > .active > a, .menubar .navbar-nav > .active > a:focus, .menubar .navbar-nav > .active > a:hover {
    background-color: #448844;
    text-decoration: none;
    color: #FFF;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }

.subnav {
  background: #266D26;
  position: fixed;
  top: 50px;
  z-index: 100;
  width: 100%;
  margin-bottom: 20px; }
  .subnav ul {
    margin-top: 5px;
    margin-bottom: 5px; }
    .subnav ul li a {
      color: white;
      padding: 6px 11px;
      display: block;
      text-align: center;
      font-size: 12px; }
    .subnav ul li.active a {
      color: #333333;
      background: white; }

/* body */
.main-content .page-header {
  border-bottom: 0;
  margin: 20px 0px; }

.surround {
  padding: 15px;
  margin-top: 90px;
  min-height: 550px; }
  .surround .container-fluid {
    padding-right: 0;
    padding-left: 0; }

.dashboard .surround {
  margin-top: 50px; }

/*login*/
.login-bg {
  /*background: url("../images/pattern1.png");*/
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 100;
  opacity: 1; }


.panel.login {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /*background-color: #FF9000;*/
  padding: 20px;
  z-index: 300;
  box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.64), 0px 0px 8px 5px rgba(224, 224, 224, 0.4) inset; }

.login .input-group .input-group-addon {
  background: rgba(255, 237, 237, 0.47) none repeat scroll 0% 0%;
  color: white;
  border: 0; }

.login .input-group .form-control {
  border: 0; }

.login input:focus {
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset; }

.login h1 {
  color: #FFEBCD;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35); }

.login .remember {
  color: #9c9c9c;  }

.login a {
  color: #9c9c9c;
  float: right;
  margin-top: 5px; }

.login .btn-warning {
  font-weight: bold;
  color: #FF9000;
  background-color: #FFEBCD;
  border-color: #FFEBCD;
  padding: 6px 30px;
  text-transform: uppercase; }



.login ::-webkit-input-placeholder, .login :-moz-placeholder, .login ::-moz-placeholder {
  color: #989898;
  font-size: 12px;
  font-style: italic; }

.login :-ms-input-placeholder {
  color: #2d2d2d;
  font-size: 12px;
  font-style: italic; }

footer {
  padding: 10px 0;
  background: white; }
  footer span {
    font-size: 12px; }

/*dashboard*/
.border-head h4 {
  border-bottom: 1px solid #e1e1e1;
  color: #777;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  font-weight: 300; }

.panel {
  border: medium none; }

.stats .symbol, .stats .value {
  display: inline-block;
  text-align: center; }

.stats .symbol {
  width: 40%;
  padding: 25px 15px;
  border-radius: 4px 0px 0px 4px; }
  .stats .symbol.color1 {
    background-color: #42A6BF; }
  .stats .symbol.color2 {
    background: #FFA13D; }
  .stats .symbol.color3 {
    background: #88C771; }
  .stats .symbol.color4 {
    background: #abacab; }
  .stats .symbol i {
    color: #FFF;
    font-size: 50px; }

.stats .value {
  width: 58%;
  padding-top: 21px;
  float: right; }
  .stats .value h1 {
    font-weight: 300;
    margin: 0px;
    padding: 0px;
    color: #C6CAD6; }
  .stats .value p {
    margin: 0px;
    padding: 0px;
    color: #C6CAD6; }

.task-thumb {
  width: 90px;
  float: left;
  margin-bottom: 5px; }

.task-thumb-details {
  display: inline-block;
  margin: 25px 0px 0px 10px; }
  .task-thumb-details p {
    padding-top: 5px;
    color: #A4AABA; }

.task-progress p {
  padding-top: 5px;
  color: #A4AABA; }

.task-thumb-details h1, .task-progress h1 {
  color: #39B5AA;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  font-weight: 400; }
  .task-thumb-details h1 a, .task-progress h1 a {
    color: #39B5AA;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    font-weight: 400; }

.personal-task tbody tr td i {
  font-size: 20px;
  color: #C7CBD4; }

.progress-panel {
  padding-bottom: 5px; }

.task-progress {
  float: left; }

.task-option {
  float: right; }
  .task-option select {
    height: 35px;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    padding: 8px;
    color: #A4ABBB; }

.personal-task tbody tr td {
  padding: 11px 15px;
  border-color: #EEEFF1; }

.badge.bg-success {
  background: #A9D86E none repeat scroll 0% 0%; }

.badge.bg-important {
  background: #FF6C60 none repeat scroll 0% 0%; }

.badge.bg-info {
  background: #41CAC0 none repeat scroll 0% 0%; }

.badge.bg-warning {
  background: #FCB322 none repeat scroll 0% 0%; }

.badge.bg-primary {
  background: #8075C4 none repeat scroll 0% 0%; }

.personal-task > tbody > tr > td:last-child {
  text-align: right; }

/*listing*/
.panel-heading {
  padding: 25px 15px;
  /*border-bottom: 1px solid #ebebeb;*/ }
  .panel-heading h3 {
    margin: 0; }

.checkbox-inline {
  vertical-align: text-top; }

.sel-sear-btn {
  padding-top: 25px; }
  @media only screen and (min-width: 992px) {
    .sel-sear-btn .form-group {
      margin-bottom: 0; } }
  .sel-sear-btn .dropdown-menu {
    right: 0;
    left: auto; }

/*dashboard*/
@media only screen and (min-width: 768px) {
  .put-right {
    text-align: right; } }

.search-prop {
  background: white url("../images/search-property.png") no-repeat;
  -webkit-background-position: 98% 50%;
  -moz-background-position: 98% 50%;
  -o-background-position: 98% 50%;
  background-position: 98% 50%;
  padding-right: 35px; }

td[colspan="3"] {
  vertical-align: middle; }
  td[colspan="3"] > div button {
    font-size: 12px; }
  @media screen and (max-width: 767px) {
    td[colspan="3"] {
      text-align: center; } }

td[colspan="11"] {
  text-align: right; }
  @media screen and (max-width: 767px) {
    td[colspan="11"] {
      text-align: center; } }

/*property listing*/
@media only screen and (min-width: 1200px) {
  .property_listing .col-lg-fivehalf {
    width: 45.83333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px; }
  .property_listing .col-lg-onehalf {
    width: 12.5%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px; } }

.property_listing .form-inline {
  padding-top: 25px; }
  .property_listing .form-inline .btn-group .btn {
    height: 34px; }

.property_listing .privacy {
  /*background: url("../images/privacy-select-down.png") no-repeat;*/
  -webkit-background-position: 95% 50%;
  -moz-background-position: 95% 50%;
  -o-background-position: 95% 50%;
  background-position: 95% 50%; }

/*add listing*/
.add-listing .panel-title, .add-listing .addmorefeature {
  font-size: 16px;
  font-weight: bold;
  color: #007200;
  padding: 15px;
  border-bottom: 1px solid #ebebeb; }

.add-listing .addmorefeature {
  padding: 15px;
  border-top: 1px solid #ebebeb; }

.add-listing .btn {
  padding: 7px 15px;
  background: #007200;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: white;
  font-size: 13px; }

.add-listing .media {
  -webkit-transition: all 0.3 ease-in;
  -moz-transition: all 0.3 ease-in;
  -ms-transition: all 0.3 ease-in;
  -o-transition: all 0.3 ease-in;
  transition: all 0.3 ease-in; }
  .add-listing .media .panel-body {
    border-bottom: 1px solid #ebebeb; }
  .add-listing .media .alert {
    padding: 15px; }
  .add-listing .media .btn {
    padding: 7px 15px;
    background: white;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #333333;
    border: 1px solid #ebebeb; }
  .add-listing .media figure {
    position: relative; }
    .add-listing .media figure a:not(.close-icon) {
      display: block;
      position: relative; }
    .add-listing .media figure .close-icon {
      position: absolute;
      top: -12px;
      right: -12px;
      z-index: 88;
      font-size: 17px;
      opacity: 1; }
    .add-listing .media figure .upload_bar {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 87;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      cursor: pointer;
      width: 80%; }
      .add-listing .media figure .upload_bar p {
        color: white;
        text-align: center; }
    .add-listing .media figure .savename {
      text-align: center;
      display: block;
      padding: 6px 12px;
      border-top: 0;
      border: 1px solid #ebebeb; }

.add-listing .document .alert {
  padding: 0 15px; }

.add-listing .input-group {
  margin-top: 15px; }
  .add-listing .input-group .input-group-addon {
    background: #ebebeb;
    border: 1px solid #cccccc;
    border-right: 0; }
  .add-listing .input-group .close-icon {
    position: absolute;
    top: -12px;
    right: -12px;
    z-index: 500;
    font-size: 17px; }

.save-cancel {
  text-align: right; }
  @media screen and (max-width: 767px) {
    .save-cancel {
      text-align: left;
      margin: 15px 0 0; } }
  .save-cancel .btn {
    padding: 7px 15px;
    background: #ff9000;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: white; }
    .save-cancel .btn + .btn {
      padding: 7px 15px;
      background: #dadada;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -ms-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      color: #333333; }

.document .save-cancel {
  text-align: center; }
  .document .save-cancel .btn {
    padding: 7px 15px;
    background: #ff9000;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: white; }
    .document .save-cancel .btn + .btn {
      padding: 7px 15px;
      background: #dadada;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -ms-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      color: #333333; }

.upload {
  display: none !important; }

.glyphicon-folder-open {
  left: -3px; }

/*user settings*/
@media only screen and (min-width: 992px) {
  .user-settings .sel-sear-btn .btn-group {
    float: right; } }

/*add a branch*/
/*reports*/
.emails-calls .panel-heading {
  background: #666666;
  color: white;
  padding: 15px; }
  .emails-calls .panel-heading small {
    color: white; }

input[name="daterange"] {
  background: white url("../images/report-date.png") no-repeat;
  -webkit-background-position: 6% 50%;
  -moz-background-position: 6% 50%;
  -o-background-position: 6% 50%;
  background-position: 6% 50%;
  padding-left: 35px; }

@media only screen and (min-width: 1200px) {
  .competitor table > thead > tr > th:first-child {
    width: 10%; } }

.competitor table > tbody > tr > td:first-child {
  vertical-align: top; }
  .competitor table > tbody > tr > td:first-child select.form-control {
    -webkit-background-position: 94% 50%;
    -moz-background-position: 94% 50%;
    -o-background-position: 94% 50%;
    background-position: 94% 50%; }

#chart_div {
  width: 100%;
  height: 500px; }
  @media screen and (max-width: 991px) {
    #chart_div {
      overflow: auto; } }

/*admin dashboard*/
.status .panel {
  width: 100%;
  height: 150px;
  text-align: center;
  color: white;
  padding: 15px;
  background: darkslateblue;
  border: 10px solid #362d68; }
  .status .panel.two {
    background: brown;
    border: 10px solid #7c2020; }
  .status .panel.three {
    background: darkorange;
    border: 10px solid #cc7000; }
  .status .panel.four {
    background: yellowgreen;
    border: 10px solid #7ba428; }
  .status .panel div {
    font-size: 46px;
    text-shadow: 1px 1px 1px #000; }
  .status .panel span {
    font-size: 14px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }

/*master*/
.master .form-horizontal .control-label {
  text-align: right; }

.master .save-cancel {
  text-align: left; }

.master table > thead > tr > th, .master table > tbody > tr > td {
  text-align: center; }

@media screen and (max-width: 767px) {
  .master .panel-heading h3 {
    margin-bottom: 15px; } }

.border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5); }



/* My customization */

ul.dropdown-menu i {

  margin-right: 5px;
}


div#datatb_wrapper {
    margin-top: 15px;
}


.navbar-default .navbar-nav > li > a {
  font-weight: normal;
  text-transform: none;
  font-size: 13px;
}


body.log,body.forgot {
  background: url(../images/login_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }


  .forgot {

  margin-top:80px;
   background-color: white;
   padding: 20px;
   width: 400px;
   left: 81%;
   
}

.login .btn-warning, .forgot .btn-warning {
  font-weight: bold;
  color: #FFF;
  background-color: #007200;
  padding: 6px 30px;
  border-color: #007200;
  text-transform: uppercase; 
  border-radius: 0px;
}

table#datatb {
    border-top: 1px solid #ebebeb;
}
.fa-refresh{
position: absolute;
right: 0px;
top: 10px;}

.verified {
    background-color: rgba(43, 156, 79, 0.24);
    color: #007200;
    font-size: 12px;
    padding: 10px;
    border-radius: 0;
    margin-bottom: 20px;
}
.error_message {
    background-color: rgba(255, 44, 44, 0.48);
    color: #333;
    font-size: 12px;
    padding: 10px;
    border-radius: 0;
    margin-bottom: 20px;
}

.preventdel {
    padding: 10px 200px;
    background-color: rgba(255, 0, 0, 0.11);
    color: rgb(255, 0, 0);
    margin-left: 165px;
    display: inline;
  }

  
.btn-default[disabled]:focus{
background: #ff9000;
color:white;}

.Myclr {
    background-color: #007227;
    color: white;
    border-color: #007227;
}
.bnpad button {
    margin-right: 5px;
}

.back_to_search{
      float: right;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 6px;
    color: #17765F;
    text-decoration: underline;
    padding-right: 25px;
}
.fav-list-prop article p.address,
.gm-style-iw .infowindow .wrap p,
.vticker ul li a span,
.listing .blocktwo *[class^="col-"] .brief .detail p,
.listing .blocktwo *[class^="col-"] .brief .first .descent p,
.prop-nearby .brief h5,.prop-nearby .brief p,
.grid-property .brief p,
.grid-box .brief h5,
.inner-map .its-list h5,
.inner-map .its-list .address{
  white-space: nowrap;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  overflow: hidden;
}


.gm-style-iw {
  width: auto !important;
  top: 3px !important;
  left: 5px !important;
  /*background-color: white;*/
  /*box-shadow: 0 0px 1px black;*/
}

/*.gm-style-iw + div {
  display: none;
}*/

.gm-style-iw .infowindow .img-responsive {
  max-width: 100%;
}

.gm-style-iw .infowindow .wrap {
  padding: 10px;
}

.gm-style-iw .infowindow .wrap h5 {
  color: #007200;
  margin: 0 0 5px;
  height: auto;
}

.gm-style-iw .infowindow p {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
}

.gm-style-iw .infowindow .wrap p:last-child {
  margin-bottom: 0;
}

.Mconfirmation{
  margin: 200px auto;
}

.Mconfirmation .modal-header{
  padding: 10px;
  background: #343434;
  color:white;
}

.Mconfirmation .modal-header .close{
  color:#FFF;
}

.Mconfirmation .modal-footer{
  margin-top:0;
  border-top:0;
  text-align: center;
}

#datatb_filter + div{
  margin-left: 50px;
}

/*.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../images/loader.gif') no-repeat;
  text-align: center;
}*/

.loading-image1 {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  /*background: url('../images/hourglass.svg') no-repeat;*/
    /*  background-size: 65%;
    width: 94px;
    height: 94px;*/
}
.loading-image1{
  font-size: 20px;
}
#loader
{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    text-align: center;
    overflow: auto;
    margin: auto;
    background: rgba(0,0,0,.25);
}

.logohover{
  position:relative;
  display: inline-block;
}

.logohover .poplarge{
  display: none;
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.1);
}

.logohover .poplarge i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

.logohover:hover .poplarge{
  display: block;
}